body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

div {
    margin: 0;
}

h1 {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 0.25rem;
    opacity: 0.5;
    color: #3e9c87;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: auto;
    color: #3e9c87;
}

h3 {
    font-family: 'Merriweather', serif;
    color: #40514E;
}

p {
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.875rem;
    color: #3e9c87;
    opacity: 0.5;
}

.topContainer {
    background-color: #e0ebe8;
    position: relative;
    padding-top: 21.875rem;
}

.middleContainer {
    background-color: #ffffff;
    line-height: 2;
}

.bottomContainer {
    background-color: skyblue;
}

.cloud1 {
    position: absolute;
    top: 15.625rem;
    right: 25rem;
}

.cloud1:hover {    
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.cloud2 {
    position: absolute;
    left: 21.875rem;

}

.cloud2:hover {    
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.land {
    margin-top: 2.75rem;

}

.land:hover {    
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.codeImg {
    width: 12rem;
    float: right;
    position: absolute;
    right: 18.75rem;
    bottom: 3px;
}

.codeImg:hover {    
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.sapImg {
    width: 15.625rem;
    float: left;
    position: absolute;
    left: 18.75rem;

}

.sapImg:hover {    
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.profileImg {
    width: 9rem;
    margin-top: 2.188rem;
}

.profileImg:hover {    
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.skillDesc {
    width: 40%;
    margin: auto;
}

.skill1 {
    position: relative;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

.skill2 {
    position: relative;
    margin-top: 0.25rem;
    margin-bottom: 3.125rem;
}

.my-desc {
    width: 20%;
    margin: 2.188rem auto 2.188rem auto;

}

.hello-h2 {
    margin-top: 2.188rem;
}

.get-intouch {
    width: 40%;
    margin: auto;
    /* font-weight: 300; */
}

.hori-row {
    border-style: dotted;
    border-width: 0.625rem;
    border-bottom: none;
    width: 5%;
    margin: auto;
    color: #EAF6F6;
}

.class-topbottom35 {
    margin-top: 2.188rem;
    margin-bottom: 2.188rem;
}

